VITE_OFFICIAL_SITE=https://istetiet.com/
VITE_GITHUB=https://github.com/ISTE-Thapar-Chapter
VITE_INSTAGRM=https://www.instagram.com/iste_tiet/

VITE_SEM_DETAIL=2026-27 ODD Sem

VITE_SITE_URL=http://localhost:8000
VITE_ALLOWED_HOSTS=.ngrok.io,.ngrok-free.app
VITE_GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com